<h1>About me</h1>
<ul>
  <li>I am a mechanical engineer from Brazil.</li>
  <li>I worked in aerospace doing software certification for almost 10 years (but never coded more than a few excel macros).</li>
  <li>Then I quit my job to get an MBA.</li>
  <li>Then I worked in management consulting for a while.(yep, I am old!)</li>
  <li>Then I got married, moved back to Austin and had a business idea.</li>
  <li>A dev shop was going to charge me $90K to develop my idea.</li>
  <li>I didn't have $90K, but I had time.</li>
  <li>So I bought Michael Hartl's Ruby on Rails Tutorial, went to RailsGirls, and started to build my idea.</li>
  <li>The idea fizzled away, I got a job (Thanks, Holly!), I got pregnant and decided to stay home for a while.</li>
  <li>But I never stopped loving building apps... So I kept teaching myself, through online tutorials and A LOT of trial and error</li>
  <li>Now I am here!</li>
</ul>

<%= link_to 'Next', problem_path, class:"btn btn-primary" %>
