<h1>Demo</h1>
<div class="col-lg-6 offset-lg-3">
  <%= image_tag("Icons/PNG/@2x/MacBook-Pro@2x.png") %>
</div>
<div class="btn-group pt-4">
  <%= link_to 'Prev', solution_path, class:"btn btn-primary" %><%= link_to 'Next', resources_path, class:"btn btn-primary" %>
</div>
