<div class="jumbotron" style="height:450px;">
  <div class="row">
    <div class="col-lg-7">
      <h1>Curious about a way to speed up your dev process?</h1>
      <i>Samantha Cabral</i>
    </div>

    <div class="col-lg-5">
      <%= image_tag("Icons/PNG/@2x/Magic@2x.png") %>
    </div>

  </div>


</div>
<%= link_to 'Next', about_path, class:"btn btn-primary" %>
