<h1>Problem</h1>
<div class="card bg-faded my-3 p-3">
  <ul>
    <h3 class="pt-1">Gems</h3>
    <li>For each gem, go to rubygems.org, get latest version, check github for the configuration... </li>
    <h3 class="pt-1">Scaffolds</h3>
    <li>They are great, the paths never include locale or the I18n tags in either the controller or the views</li>
    <h3 class="pt-1">Other Items I always use</h3>
    <li>Like bootstrap, gritter, devise, sendgrid (to work with devise using heroku), git, and github...</li>
    <h3 class="pt-1">SECURITY</h3>
    <li>Countless times have I accidentaly deployed my API keys to gihub!</li>
  </ul>
</div>


<%= link_to 'Next', solution_path, class:"btn btn-primary" %>
