<h1>Problem</h1>
<ul>
  <li><h3>Gems</h3>
    for each gem, go to rubygems.org, get latest version, check github for the configuration... </li>
  <li><h3>Scaffolds</h3>
    They are great, the paths never include locale or the I18n tags in either the controller or the views</li>
  <li><h3>Other Items I always use</h3>
    Like gritter, devise, sendgrid (to work with devise using heroku), git, and github...</li>
  <li><h3>SECURITY</h3>
    Countless times have I accidentaly deployed my API keys to gihub!</li>
</ul>

<%= link_to 'Next', solution_path, class:"btn btn-primary" %>
