<h1>Resources</h1>

<h3>For Ruby on Rails!</h3>
<ul>
  <li>.</li>
</ul>

<h3>Other languages!? No problem</h3>
<ul>
  <li>The concept of the template is not unique to Rails.
    For instance, with React, once you have a configuration that works for you,
    you can always make that into your template, remove the folders that are unique to your application,
    and push it to github for future use.
  </li>
</ul>
